body{
          margin: 0;
          height: 100%;
}
main{
          margin: 0;
}

.mapa{
          width: 100%;
          height: 400px;
          margin-top: 1em;
}

.icone-servico{
          font-size: 90px;
}

.rede-social{
          font-size: 20px;
}

.icone-rede-social{
          padding-top: 5px;
          margin-right: 5px;
          width: 28px;
}
.agende:hover{
         color: #d81b60 !important;
         font-size: 3.8rem;
}

@media screen and (max-width: 600px) {
          .banner-tablet{
                    height:0px !important;
          }
          
          .banner-celular {                    
                    height:300px !important;
          }
          .banner{
                    height:0px !important;
          }
}

@media screen and (min-width: 600px) {
          .img-portifolio{
                    height: 180px !important;
                    max-height: 180px !important;
                    max-width: 29% !important;
          }          
          .banner{
                    height:0px !important;
          }
          .banner-celular {
                    height: 0px !important;
          }                
          .banner-tablet{
                    height:400px !important;
          }    
}

@media screen and (min-width: 993px) {
          .img-portifolio{
                    max-height: 230px !important;
                    height: 230px !important;
                    max-width: 25% !important;
          }          
          .banner-tablet{
                    height:0px !important;
          }
          .banner-celular {
                    height: 0px !important;
          }   
          .banner {
                    height: 500px !important;
          }       
}


